@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.nav-item nav-link{
  font-size: 1px;
  font-weight: 100px;
}


.options{
  text-decoration: none;
  font-size: 14px;
  font-weight:500 ;
} 
.take-out-but{
  border-radius: 5px;
  background-color:white;
  color:black;
  border-color:rgb(134, 132, 132);
  font-size: small;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid var(--unnamed-color-707070);

}
 .dine-in-but{
  border-radius: 5px;
  background-color: black;
  color:aliceblue;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: small;
  border: 1px solid var(--unnamed-color-707070);

 }
.card-img-top{
  
  

}
.images{
  position: relative;
  top: 150px;
  bottom: 0;
  z-index: 99999;
  /* border: 3px solid #73AD21; */
}
.card-text {
  padding-top: 3.5rem;


}
.empty{
top: 89px;
left: 1301px;
width: 65px;
height: 39px;
border: 1px solid var(--unnamed-color-707070);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
}
header{
  /* width:29rem;
  height: 50px; */
  /* padding: 0%;
  margin: 0 auto; */
  width: 440px;
  position:fixed;
  scroll-margin-top: 10rem;

}
.food-image{
    position: absolute;
    top: -61px;
    left: 19px;
    transform: translateX(32%);

}
.three-image {
font-size:30px ; 
width: 50px;
height: 50px;
border: 1px solid var(--unnamed-color-707070);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;

}
.amount{
  padding-right: 35px;
  padding-left: 30px;
}
.btn{
  padding-left: 40px;
  padding-right: 10px;
}
.second-hr{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background: #180101;
}
.delete{
width: 60px;
height: 50px;
border: 1px solid #FF6060;
border-radius: 10px;
opacity: 1;
justify-items: center;
}
.comment{
border: 5px solid;
/* text-align: center;
justify-content: center; */

height: 50px;
border: 1px solid var(--unnamed-color-707070);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
}
#payment{
  background-color: #FF6060 ;
}
#amount{
  padding-left: 36px;
}
.footer{
  background-color:  #EEEEEE;
  position: fixed;
  bottom: -2px;
  width: 440px;
  padding-bottom: 10px;
}
   
  
